body{
	background-color: #EBEBEB;
}

#player-input{
	background-color:#ffffff;
	margin:90px;
	text-align:center;
	border-radius:15px;
}
#titles{
	text-align:center;
}

#ai{
	text-align:center;
	background-color:#ffffff;
	margin:90px;
	border-radius:15px;
}

#submit{
	text-align:center;
	background-color:#ffffff;
	margin:30px;
	border-radius:20px;
	padding:70px;
}

#fight{
	padding:30px;
	border-radius:20px;
	font-size:20px;
}